@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');
:root{
  --primary-black:#463f3a; 
  --primary-yellow: #ffea00;
  --primary-white: #f4f3ee;
  --primary-bootstrap-nav: #343a40;
  --primary-red:#A9333A;
  --primary-green: #17D7A0;
}
body{
  font-family: 'Poppins', sans-serif !important;
  background: var(--primary-white);

  
}
/* navbar styling */
.logo{
 width: 8rem;
}

/* navbar links */
nav a.nav-link {
font-weight:31.25 rem ;
letter-spacing:0.625 rem ;
cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}
.navbar-nav li a {
  margin-left: 0.50rem;
  margin-right: 0.50rem;
color: var(--primary-white) !important;
border-top: 0.200rem solid var(--primary-bootstrap-nav);
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6 rem !important;
}
.navbar-nav > li > a:active, .navbar-nav > li > a:focus {
 border-bottom:0.200rem solid var(--primary-yellow) ;;
}
/* .navbar-nav > li > a:hover{
  color: var(--primary-red) ;
} */
/* header */

.header-wraper{
  position: relative;
  background: url(hero.jpg) no-repeat; 
  background-position: center;
  background-size: cover;
  height:100vh;
  
}
.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left:0 ;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.main-info h1{
  color: var(--primary-yellow);
  text-transform: uppercase;
  font-size: 3rem;
  
}

/* typing text */
.type-text{
  color: var(--primary-white);
  font-size: 2rem;
  margin-bottom:1.7rem ;
}
/* hero button */
.btn {
  border: 2px solid var(--primary-yellow);
  text-transform: uppercase;
  border-radius:0.313rem;
  padding: 0.625rem;
  color: var(--primary-white);
  font-weight:bold;
  letter-spacing: 2px; 
  margin: 2 rem;
}
.btn{
  text-decoration: none;
}
.btn:hover{
  background-color: var(--primary-yellow);
  font-size: 1rem;
}
.btn-resume{
  border: 2px solid var(--primary-bootstrap-nav);
  text-transform: uppercase;
  border-radius:0.313rem;
  padding: 0.625rem;
  color: var(--primary-red);
  font-size: 1rem;
  margin: 5 rem;
  text-decoration: none;
  letter-spacing: 2px;

  
}
.btn-resume:hover{
  background-color: var(--primary-yellow);
  font-size: 1rem;
}
/* about me */
.photo-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:5px ;
}
.img-me{
  width: 400px;
  height: 350px;
  padding: 0.3rem;
  margin-top: 5rem;
  
}
.heading{
  color: var(--primary-bootstrap-nav);
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1.1rem;
}
.rtext{
  font-weight: bold;
  letter-spacing: 1.1rem;
}
.ptext  {
  font-weight: bold;
  letter-spacing: 1.1rem;
}
.ctext{
  font-weight: bold;
  letter-spacing: 1.1rem;
}
.para{
  color: var(--primary-bootstrap-nav);
  font-size: 1.2rem;
}
@media(max-width:468px){
  .img-me{
    width:10rem ;
  }
}
/* portfolio */
.portfolio-wrapper{
  background: var(--primary-white) ;
  padding: 3rem 0;
}

.portfolio-image{
  width: 15rem;
  height: 10rem;
  border: 1px solid var(--primary-yellow);
  padding: 0.5rem 0.5rem;
}
.portfolio-image-box{
  position: relative;
  margin:1rem ;
}
/* overflow */
.overflow{
  position: absolute;
  opacity:0;
  background: var(--primary-bootstrap-nav);
  width: 15rem;
  height: 10rem;
  top:0;
  border: 1px solid var(--primary-yellow);
  cursor: pointer;
}
.portfolio-image-box:hover .overflow{
  opacity:70%;
  transition: 0.3s ease-in-out;
}
.portfolio-icon{
  position:absolute;
  opacity:0 ;
  margin-left:-8rem ;
  margin-top: 3.6rem;
  color: var(--primary-yellow);
  font-size: 1.8rem;
}
.portfolio-image-box:hover .portfolio-icon{
opacity: 70%;
transition: 0.3sec ease-in-out;
cursor: pointer;
}

/*  */
.portfolio-image-popupbox{
  width: 50%;
  padding: 0 0.5rem;
  display: block; 
  margin: 0 auto;
} 
.hyper-link{
  cursor: pointer;
  color:var(--primary-bootstrap-nav)
}
.hyper-link:hover{
  color: var(--primary-red);
}
/*MEDIA QUAERY */
@media(max-width: 800px){
  .portfolio-image-popupbox{
    width: 100%;
  }
}
@media(max-width: 500px){
  .portfolio-image-popupbox{
    width: 75%;
  }
}

/* contact styling */
.contact{
  background: var(--primary-white);
  padding: 3rem 0;
}
.contact h1{
  color: var(--primary-bootstrap-nav);
  padding: 1.3rem 0;
  text-transform: uppercase;
}
.contact p{
  font-size: 1.2rem;
}
/* conctact */
.contact input, .contact textarea{
width:100%;
box-sizing:border-box;
resize: none;
border: 0;
border-bottom: 2px solid var(--primary-bootstrap-nav);
border-radius: 0;
color: var(--primary-bootstrap-nav);
background-color: var(--primary-white);
outline : 0 !important;
box-shadow: none !important;
margin-bottom: 1rem;
padding-left: 0 !important;
}
.contact .container{
  padding: 4rem 0;
}
.contact input:focus, .contact textarea:focus{
  background: transparent;
  color: var(--primary-red);
  border-bottom:1 px solid var(--primary-bootstrap-nav);
}
.contact textarea{
  height: 10rem !important;
}
.contact-btn{
  margin:1rem 0 0 0;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--primary-black);
  color: var(--primary-red) ;
  font-weight: bold;
  letter-spacing:0.2rem ;
}
.contact-btn:hover{
  background-color: var(--primary-yellow);
}
/*  */
@media(max-width:768px){
  .contact .container{
    padding: 0 1rem;
  }
  .contact p {
    padding: 0 0.5rem;
  }
}
/* error text */
.error-message{
 color: var(--primary-white);
 background: var(--primary-red);
 text-align: left; 
}
.success-text{
  font-weight: bold;
  color: var(--primary-green);
}

/* footer */

.footer{
  background: var(--primary-bootstrap-nav);
  color: var(--primary-white);
  padding:3rem;
}
.footer a {
  text-decoration: none;
  color: var(--primary-white);
  font-weight:bold;
}
.footer a:hover{
  text-decoration: none;
  color: var(--primary-yellow);
  cursor: pointer;
}
.footer p{
  margin-bottom: 0;
}